.red{
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    border:1px solid black;
}

.orange{
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    border:1px solid black;
}

.green{
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    border:1px solid black;
}